<!-- -*- mode: XML -*- -->
<launch>



  <!-- Odometry Filter -->
  <node pkg="robot_localization" type="ekf_localization_node"
    name="robot_localization_ekf_node_map" clear_params="true">
    <param name="frequency" value="50" />
    <param name="sensor_timeout" value="1.0" />
    <param name="two_d_mode" value="true" />
    <param name="publish_tf" value="true" />
    <param name="odom_frame" value="odom" />
    <param name="base_link_frame" value="base_link" />
    <param name="world_frame" value="odom" />
    <param name="gravitational_acceleration" value="10.1" />

    <!-- Format: 
      [x, y, z, roll, pitch, yaw, x_vel, y_vel, z_vel, roll_vel, pitch_vel, yaw_vel, x_acc, y_acc, z_acc] 
    -->

    <!-- vesc odometry -->
    <param name="odom0" value="odom" />
    <rosparam param="odom0_config">
      [false, false, false,
      false, false, false,
      true, true, false,
      false, false, false,
      false, false, false]
    </rosparam>

    <!-- imu -->
    <param name="imu0" value="/sensors/imu/raw" />
    <rosparam param="imu0_config">
      [false, false, false,
      false, false, true,
      false, false, false,
      false, false, false,
      false, false, false]
    </rosparam>
    <param name="imu0_remove_gravitational_acceleration" value="true" />
    <param name="imu0_relative" value="false" />

    <remap from="odometry/filtered" to="/state_estimation/odom" /> <!-- .../new when not using cov on PF2 -->
  </node>

</launch>
